

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0F1035;
}

@keyframes twinkle {
    0% { opacity: 0.3; }
    50% { opacity: 0.7; }
  }
  
.particle {
    position: absolute;
    background: rgb(255, 255, 255);
    text-shadow: 0 0 5px #fff, 
    0 0 20px #fff,
    0 0 50px #fff;
    width: 4px;
    height: 4px;
    animation: 0.15s twinkle step-end infinite;
}


.stars{
    position: absolute;
    top:0;
    color: white;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* animation: animate 5s linear infinite; */
    z-index: -1;
}

.stars::before{
    content: '\f005';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff, 
    0 0 20px #fff,
    0 0 50px #fff;
}

@keyframes animate {
    0% {
        transform: translateY(-20vh) translateX(10vh) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateY(150vh) translateX(-150vh) rotate(720deg);
        opacity: 0;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header ul{
    text-align: right;
    list-style: none;
}

header ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    position: relative;
    font-weight: bold;
}
header ul li a:hover{
    text-shadow: 0 0 5px #fff, 
    0 0 20px #fff,
    0 0 50px #fff;
    cursor: pointer;

}

header ul li i{
    color: white;
    padding-right: 10px;
}

header {
    background: none;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header img {
    max-width: 100%;
    border-radius: 50%;
    margin-top: 20px;
    height: 100px;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    margin-top: 330px;
}

#title {
    width: 50%;
}

#aboutme{
    width: 39% !important;
    left: 56% !important;
}

.left-column, .right-column {
    width: 48%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.left-column h2, .right-column h2 {
    color: #333;
    font-size: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
    font-size: 1.1em;
    color: #555;
}
#skills ul li{
    display: inline;
    font-size: 1.1em;
    border-radius: 8px;
    color: #000000;
    background-color: rgb(31, 211, 243);
    padding: 3px;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}


.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    color: #333;
    font-size: 1.5em;
}

.project-card p {
    color: #000000;
}

.project-card a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-weight: bolder;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.project-card a:hover {
    background: linear-gradient(-45deg, #72d8f2, #7ff86f, #dabe09);
    color: #000000;
    
}
#language p{
    display: inline;
    font-size: 1.1em;
    border-radius: 8px;
    color: #fbfbfb;
    background-color: rgb(34, 116, 21);
    padding: 3px;
}
#backtotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    border: none;
}

#backtotop:hover {
    background-color: #555;
}

@media only screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        width: 96%;
    }

    .left-column, .right-column {
        width: 94%;
    }

    #title {
        width: 80%;
    }

    #aboutme{
        width: 94% !important;
        left: 0% !important;
    }
}
@media only screen and (max-width: 768px) {
    #back-to-top {
        bottom: 10px;
        right: 10px;
        padding: 8px 15px;
    }
}

@media only screen and (min-width: 1367px) {
    #title {
        width: 31%;
    }
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    color: white;
    display: inline;
    padding: 0px 0px 50px 50px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}
footer ul li i{
    padding-right: 10px;

}

@keyframes animatedBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

